div{
    border-style: groove;
    border-width: 8px;
    padding: 30px;
    padding-left: 5px;
    padding-right:5px;
    border-color: #2b669a;
    font-size: 18px;
}
body{
    font-size: 20px;
    margin: 0;
}

.container{
    border-color: #2b669a;
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    border-color: #2b669a;
    padding: 25px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #2b405a;
    
}

#index{
    background-color: white;
    background-size: cover;
    height: 350px; 
    width: auto;
}
#projects{
    background-color: white;
    background-size: cover;
    height: 350px;
    width: auto;
}
#technology{
    background-color: white;
    background-size: cover;
    height: 350px; 
    width: 500px;
}
img{
    width: 320px;
    height: auto;
    padding-left: 0px;
    padding-right: 8px;
    background-size: cover;
}

body{
    text-align: center;
} 
h1, h2, h3, h4, h5, h6{
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
.navbar-fixed-top{
    background-color: white;
}